body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color : rgb(253, 204, 144); 
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}


button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(248, 199, 140);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(218, 242, 249); 
}

.meal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.meal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

.meal img {
    width: 100%;
    border-radius: 10px;
}

    .card-img-top {
        width: 100%; 
        height: 200px; 
        object-fit: cover; 
    }

    
.meal-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  
  .meal-image {
    width: 40%;
    margin-right: 20px;
  }
  
  
  .ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for ingredients */
    gap: 20px;
    text-align: center;
  }
  
  .ingredient-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ingredient-item img {
    width: 200px; 
    height: auto;
    margin-bottom: 10px;
  }
  
  .ingredient-item p {
    font-size: 16px;
    color: #F7A634; 
  }
  
