
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(253, 204, 144); 
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 10px 0;
    font-size: 24px; 

header img {
    width: 100px; 
    height: auto;
}

.search-section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.search-section input,
.search-section button {
    width: 100%; 
    max-width: 300px;
    margin-bottom: 10px;
}



@media (min-width: 768px) {
    header {
        flex-direction: row; 
        justify-content: space-between;
        text-align: left;
    }

    header h1 {
        font-size: 36px; 
        margin-left: 20px;
    }

    .search-section {
        flex-direction: row; 
        width: auto;
        margin-top: 0;
    }

    .search-section input {
        margin-bottom: 0;
    }
}

.meal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.meal-item {
    margin-bottom: 20px;
}

.meal img {
    width: 100%;
    border-radius: 10px;
}


@media (max-width: 767px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .col-md-3 {
        flex: 0 0 50%; 
        max-width: 50%;
    }
}


button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(248, 199, 140);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(218, 242, 249); 
}

/* Responsive modal */
.modal-content img {
    width: 100%;
    height: auto;
}

